{% extends "layout.html" %} {% block title %} Lets Tweet ! {% endblock %}
{%block content %}
<h1 class="text-center text-white mt-4">Welcome to Lets Tweet !</h1>

<h2>
  {% if form.instance.pk %} Edit Tweet {% else %} Create Tweet {% endif %}

  <form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" class="btn btn-warning mt-4">Submit</button>
  </form>
  <a href="{% url 'tweet_list' %}" class="btn btn-secondary mt-4"
    >Back to Home</a
  >
</h2>
{% endblock %}
